<!-- Header -->
<header class="header-container bg-dark text-white sticky-top p-3">
    <div class="d-flex align-items-center justify-content-between w-100">
        <a href="/">
            <img src="/images/adoptapet_logo.png" title="Illustrated by Nada Ouriachi" alt="Logo" class="logo">
        </a>
        <h1 class="site-title m-4 flex-grow-1">AdoptaPet</h1>
        <div id="time" class="ml-auto"></div>
    </div>
</header>