<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a dog/cat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">  <!-- Corrected path to static CSS -->
</head>
<body class="d-flex flex-column vh-100">

    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Main Content -->
    <div class="container-fluid flex-grow-1 d-flex">
        <div class="row flex-grow-1">
            
            <!-- Sidebar -->
            <aside class="sidebar-container bg-secondary col-lg-2 col-md-3 col-sm-4 col-4 d-flex flex-column p-0">
                <ul class="nav flex-column p-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="/find-pet">Find a dog/cat</a></li>
                    <li class="nav-item"><a class="nav-link" href="/dog-care">Dog Care</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cat-care">Cat Care</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create-account">Create an account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/giveaway-pet">Have a pet to give away</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            </aside>
    
            <!-- Content -->
            <main class="content-container col-lg-10 col-md-9 col-sm-8 col-8 p-4">
                <h2>Find a dog/cat</h2>
                <form id="find-pet-form" method="POST" action="/find-pet">
                    <fieldset class="border p-3">
                        <legend><h3>Pet Preferences</h3></legend>
                        <div id="pet-info-text">
                            <p>
                                <label>
                                    <input type="radio" name="pet-type" id="pet-type1" value="cat"> Cat
                                </label>
                                <label>
                                    <input type="radio" name="pet-type" id="pet-type2" value="dog"> Dog
                                </label>
                            </p>
                            <p>
                                <label> 
                                    Breed <input type="text" name="breed" id="breed1" size="15">
                                </label>
                                <label> 
                                    OR <input type="checkbox" name="breed" id="breed2" value="doesnt-matter"> Doesn't matter
                                </label>
                            </p>
                            <p>
                                <label> 
                                    Preferred age 
                                    <select name="age" id="age">
                                        <option value="">-- Please select --</option>
                                        <option value="baby">Baby</option>
                                        <option value="young">Young</option>
                                        <option value="adult">Adult</option>
                                        <option value="senior">Senior</option>
                                        <option value="doesnt-matter">Doesn't matter</option>
                                    </select>
                                </label>
                            </p>
                            <p>
                                <label>
                                    Preferred gender
                                    <input type="radio" name="gender" value="female"> Female
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="male"> Male
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="doesnt-matter"> Doesn't matter
                                </label>
                            </p>
                            <p>
                                <label>
                                    Gets along with 
                                    <input type="checkbox" name="gets-along-with" value="other-cats"> Cats 
                                </label>
                                <label>
                                    <input type="checkbox" name="gets-along-with" value="other-dogs"> Dogs
                                </label>
                                <label>
                                    <input type="checkbox" name="gets-along-with" value="small-children"> Small children
                                </label>
                                <label>
                                    <input type="checkbox" name="gets-along-with" value="doesnt-matter"> Doesn't matter
                                </label>
                            </p>
                        </div>
                    </fieldset>
                    <p>
                        <br>
                        <input type="submit" id="submit" class="btn btn-primary">
                        <input type="reset" id="clear" class="btn btn-primary">
                    </p>
                </form>
                <% if (typeof message !== 'undefined' && message) { %>
                    <span style="color: red; font-style: italic";><%= message %></span>
                <% } %>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <script src="/js/script.js"></script>
</body>
</html>